/*! purgecss start ignore */
@import "slick-carousel/slick/slick-theme.scss";
@import "slick-carousel/slick/slick.scss";


.slick-prev,
.slick-next
{
  z-index: 2;
}

.slick-prev:before {
  content: "<";
  color: #1b2031;
  font-size: 30px;
}

.slick-next:before {
  content: ">";
  color: #1b2031;
  font-size: 30px;
}

/*! purgecss end ignore */
