.event {
  position: relative;
  margin-bottom: 100px;
  padding: 150px 0;
  @include desktop {
    margin-bottom: 40px;
    padding: 100px 0;
  }
  &__background {
    background: #1b2031;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: skewY(-2deg);
  }
  &__heading {
    margin-right: 100px;
    position: sticky;
    position: sticky;
    top: 150px;
    @include desktop {
      margin-right: 0;
      margin-bottom: 30px;
    }
    span {
      &::before {
        background: $light;
      }
    }
  }
  &__match {
    &_row {
      overflow: hidden;
      padding: 20px;
      background: $white;
      border-radius: 20px;
      margin-bottom: 30px;
      box-shadow: 0 20px 40px 0 rgba(50, 65, 141, 0.12);
    }

    hr {
      margin-top: 0.2rem;
    }

    &_flexbox {
      display: flex;
      //padding: 20px;
      align-items: center;
      justify-content: center;
    }

    &_contentcol {
      flex: 1 0 18%;
      text-align: center;
    }
    &_detailcol {
      flex: 1 100%;
      text-align: center;
    }
    &_footer {
      flex: 1 100%;
      text-align: center;
    }
    &_teamcol {
      flex: 1 0 24%;
      font-size: 0.9rem;
    }
    &_logocol {
      flex: 1 0 12%;
      text-align: center;
    }

    &_title {
      font-weight: bold;
      font-size: 1.20rem;
    }
    &_date {
      font-family: "alternate-gothic-no3",Helvetica,Arial,sans-serif;
      text-transform: uppercase;
      letter-spacing: -0.06em;
      font-size: 0.90rem;
      line-height: 1.2;
      text-align: center;
    }
    &_hour {
      font-size: 2rem;
      line-height: 1;
      background: #1a2434;
      padding: 10px 20px;
      border-radius: 5px;
      min-width: 112px;
      color: #fff;
      opacity: .65;
      text-align: center;
    }
    &_description {
      opacity: 0.80;
      font-size: 0.90rem;
      line-height: 14px;
      padding-bottom: 10px;
    }
    &_detail {
      font-family: "alternate-gothic-no3",Helvetica,Arial,sans-serif;
      text-transform: uppercase;
      opacity: 0.65;
      font-size: 0.65rem;
      padding-bottom: 10px;
    }

    &_item {
      background: $white;
      padding: 30px;
      border-radius: 20px;
      margin-bottom: 30px;
      box-shadow: 0 20px 40px 0 rgba(50, 65, 141, 0.12);
      @include mobile {
        text-align: center;
        flex-direction: column;
        align-items: center;
      }
      &_image {
        width: 46px;
        max-width: 46px;
        height: 100%;
        object-fit: contain;
        @include mobile {
          margin: 0 0 0px;
          width: 100%;
        }
      }
    }
  }
}
