{{ with index .Site.Data .Site.Language.Lang "eventSection" }}
  {{ if .enable }}
<section class="section event" id="event">
  <div class="event__background"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="event__heading">
          <div class="text-light">
            <span class="top-title pre-line">{{ .topTitle }}</span>
            {{ .title | markdownify }}
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="tab-content">
          <div class="event__match tab-pane active" >
            {{ range (where $.Site.RegularPages "Type" "=" "event").ByDate }}
              {{ if ge (time .Date).Unix now.Unix }}

                  {{ partial "event/eventBlock.html" . }}

              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  {{ end }}
{{ end }}

