{{ with index .Site.Data .Site.Language.Lang "eventSection" }}
  {{ if .enable }}
<section class="section event" id="event">
  <div class="event__background"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="event__heading">
          <div class="text-light">
            <span class="top-title pre-line">{{ .topTitle }}</span>
            {{ .title | markdownify }}          
        </div>
      </div>
      </div>
      <div class="col-lg-6">
        <div class="tab-content">
          <div class="event__match tab-pane active" >
            {{ range first 5 (where (where $.Site.RegularPages "Type" "event") ".Date" "ge" now).ByDate }}
              {{ if eq .Params.eventType "match" }}
                {{ partial "event/matchBlock.html" . }}
              {{ else }}
                {{ partial "event/otherEventBlock.html" . }}
              {{ end }}
            {{ end }}
          </div>
          <a class="btn btn-light btn-zoom m-3" href="{{ .buttonTarget | safeURL | relLangURL }}"
                >{{ .buttonName }}</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  {{ end }}
{{ end }}

