{{ if .Site.Params.alert -}}
  {{ partial "header/alert.html" . }}
{{ end -}}


<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a href="{{ .Site.BaseURL }}" class="navbar-brand">
      {{ $asset := resources.Get .Site.Params.logo }}
      {{ $img := $asset.Fit "400x400 webp" }}
      <img style="width: 50px; height: 50px; object-fit: contain" src="{{ $img.RelPermalink }}" alt="site-logo" />
    </a>
    <button type="button" class="navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
      <ul class="nav navbar-nav main-navigation my-0 mx-auto">
        {{ $menu := .Site.Menus.main }}
        {{ range $index, $element := $menu }}
          <li class="nav-item">
            <a
              href="{{ $.Site.BaseURL }}{{ .URL | relLangURL }}"
              class="nav-link text-dark text-sm-center p-2 {{ if $.IsHome }}scroll{{ end }}"
              >{{ i18n .Name }}</a
            >
          </li>
        {{ end }}

        {{ range $key, $value := $.Site.Params.social }}
        <li class="nav-item">
          <a class="nav-link text-dark text-sm-center p-2 " target="_blank" href="{{ $value.url }}"><i class="{{ $value.icon }}"></i></a>
        </li>
        {{ end }}


      </ul>
      <ul class="navbar-nav">
        <!-- Language switcher for desktop -->
        <li id="language-switch-desktop" class="nav-item dropdown d-none d-lg-block" data-bs-auto-close="outside">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-globe" aria-hidden="true"></i> {{ .Page.Lang }}
          </a>
          <ul class="dropdown-menu">
            {{ $siteLanguages := .Site.Languages}}
            {{ $pageLang := .Page.Lang}}
            {{ range .Page.AllTranslations }}
            {{ $translation := .}}
            {{ range $siteLanguages }}
            {{ if eq $translation.Lang .Lang }}
            {{ if eq $pageLang .Lang}}
            <li><a href="{{ $translation.RelPermalink }}" class="dropdown-item active">{{ .LanguageName }}</a></li>
            {{ else }}
            <li><a href="{{ $translation.RelPermalink }}" class="dropdown-item">{{ .LanguageName }}</a></li>
            {{ end }}
            {{ end }}
            {{ end }}
            {{ end }}
          </ul>
        </li>

        <!-- Language switcher for mobile -->
        {{ $siteLanguages := .Site.Languages}}
        {{ $pageLang := .Page.Lang}}
        {{ range .Page.AllTranslations }}
        {{ $translation := .}}
        {{ range $siteLanguages }}
        {{ if eq $translation.Lang .Lang }}
        {{ if eq $pageLang .Lang}}
        <li class="nav-item d-lg-none"><a href="{{ $translation.RelPermalink }}" class="nav-link text-dark text-sm-center p-2 active">{{ .LanguageName }}</a></li>
        {{ else }}
        <li class="nav-item d-lg-none"><a href="{{ $translation.RelPermalink }}" class="nav-link text-dark text-sm-center p-2">{{ .LanguageName }}</a></li>
        {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}

        <li class="nav-item">
          {{ $joinPath := printf "/join" | printf "%s%s" .Lang  }}
          <a href="{{ $joinPath | safeURL | relURL }}" class="btn btn-primary btn-zoom hire_button">{{ i18n "join" }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
